
body{
  overflow-x: hidden;
  margin: 0;
  top: 0;
}
#main{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.pad{
  width: 300px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px dotted #CCCCCC;
  border-radius: 15px;
  cursor: crosshair;
}
#sig-image {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #CCCCCC;
  background-size: cover;
  background-repeat: no-repeat;
}
#sig-dataUrl {
  display: none;
}
h1 {
  color: #cc3366;
  text-align: center;
}

h2 {
  color: #3366cc;
  text-align: center;
}

legend {
  font-weight: bold;
  color: #33cc66;
}

div {
  margin: 5px;
}

label{
  width: 100px;
  display: inline-block;
}

table {
  width: 100%;
}

button {
  margin: 5px;
  border: 0;
  outline: none;
}

.btn-default {
  background-color: #cc3366;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
}

.btn-primary {
  background-color: #33cc66;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
}

.btn-update{
  background-color: #3366cc;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
}
.contract-Code {
  display: none;
}